* {
    margin: 0px;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20px;

}
.navbar-light .navbar-nav .nav-link:hover{
color:#56548C; 
}
.btn-sign{
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    background-color: #21B573;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero_section{
    background: #F0FFF0;
    min-height: 100vh;
}
.hero_content{
}
.hero_content h3{
    font-family: 'Poppins', sans-serif;
    color: #FD511A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
.hero_content h1{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;

}
.hero_content span{
    color: #21B573;
}
.hero_content p{
    color: #6C6B6B;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    width: 56%;
    padding-bottom: 15px;
}
.btn-custom{
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    background-color: #21B573;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.btn-custom:hover{
    background-color: #1e754e;
    color: #ffffff;
}
.feature_section{}
.feature_content{
    background: #F8FFFB;
    padding: 72px 0px;
}
.feature_content h2{
    color: #413960;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin-top: 15px;
}
.feature_content img{
    width: 20%;
}
.feature_content p{
    color: #585859;
    font-size: 16px;
    line-height: 24px;
}
.feature_content:hover{
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.courses_section{}
.course{
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.course img{}
.course h2{
    font-family: 'Poppins', sans-serif;
    color: #413960;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
}
.course h5{
    font-family: 'Poppins', sans-serif;
    color: #585859;font-size: 16px;line-height: 24px;}
.btn-course{
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    padding: 8px 12px;
    background-color: #21B573;
    border-radius: 50px;
    margin: 20px 0;
}
.btn-course:hover{
    background-color: #1e754e;
    color: #ffffff;
}
.course ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.course ul li{
    color: #585859;
    font-size: 16px;
    line-height: 24px;
}
.course ul li i{
    margin-right: 10px;
}
.courses_section h3{
    font-family: 'Poppins', sans-serif;
    color: #413960;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
}
.testimonial_section{

}
.testimonial_section h3{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;}
.client{
    width: 45%;
    margin: auto;
}
.client img{
}
.client_content{
    display: flex;
    align-items: center;
    
}
.client_content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;

}
footer{
    background-color: #282531;
    color: #ffffff;
}
footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
footer ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
}
footer ul li:first-child{
    font-weight: 600;
}
footer h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}